
<html>
    <head>
       <title><%= title %></title>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
       <link rel="stylesheet" href="/css/dashboard.css">
       <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
       <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">
       
       <link href="https://fonts.googleapis.com/css?family=Asap|Livvic&display=swap" rel="stylesheet">

       <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163514247-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-163514247-1');
</script>

    </head> 
       <body>
               <div class="full-height">
                   <div class="major">
                       <div class="first shadow-sm p-3 mb-5 bg-white ">
                           
                           <center><img src="/img/core-img/real.png" width="45%"> <br><br><br>
                           
                           </center><hr>
                               
                               
   
                              <div class="float-left" style="margin-left:-37px;">
                                   <ul style="list-style-type: none; ">
                                       <a href="/admin/posts"> <li style="padding-bottom:40px;"><ion-icon name="gift" style="margin-right: 5px;margin-bottom:-4px; font-size:19px; color:grey"></ion-icon>Dashboard</li></a>
                                   <a href="/admin/adminSermon"> <li style="padding-bottom:40px;"><ion-icon name="gift" style="margin-right: 5px;margin-bottom:-4px; font-size:19px; color:grey"></ion-icon>Sermons</li></a>
                                   <a href="/admin/adminBlog"><li style="padding-bottom:40px; "><ion-icon name="paper" style="margin-right: 5px;margin-bottom:-4px; font-size:19px; color:grey"></ion-icon>Blog Posts</li>                                    </a>
                                   <a href="/admin/adminEvent"><li style="padding-bottom:40px;" ><ion-icon name="logo-ionic" style="margin-right: 5px;margin-bottom:-4px; font-size:19px; color:grey"></ion-icon>Events and Programmes</li>                                </a>
                                   <small style="font-size:12px;color:grey">OTHERS</small><br><hr>
                                   <a href="/admin/partnership"><li style="padding-bottom:40px;" ><ion-icon name="home" style="margin-right: 5px;margin-bottom:-4px; font-size:19px; color:grey"></ion-icon>Partnership</li></a>
                                   <a href="/admin/subscribers"><li style="padding-bottom:40px;"><ion-icon name="gift" style="margin-right: 5px;margin-bottom:-4px; font-size:19px; color:grey"></ion-icon>Subscribers</li></a>
                                   <button class="btn btn-primary"><ion-icon name="power" style="margin-right: 5px;margin-bottom:-4px; font-size:19px; color:white"></ion-icon>Logout</button>
                                   
                                   
                               </ul>
                              </div>
                       </div>
                       <div class="second" >
   
                           <h3>All Blog Post</h3>
   
                         <div class="container" >
                           <div class="row">
                               <% for (var i = 0; i < video.length; i++  ){ %>
                                  
                               <div class="col-sm-3 shadow p-3 mb-5 bg-white rounded">
                                   <div class="card " >
                                    
                                    <iframe width="100%" src="<%= video[i].video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                                       
                                    
                                    <div class="card-body" style="padding:10px;">
                                         
                                         <p class="card-text" style="font-size:12px;text-align:justify"></p>
                                        <center> <a href="/admin/videoDelete/<%= video[i].id %>" class="btn btn-danger float-right" style="font-size:14px; padding:5px 25px">Delete</a></center>
                                    </div>
                                   </div>
                               </div>
   
                              
   
   
                               <% } %>
   
   
   
                              
   
   
                           
   
                           </div>
                         </div>
                           
                   </div>
               </div>
           
       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      
       <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-app.js"></script>
       <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-auth.js"></script>
       <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-storage.js"></script>
       <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-firestore.js"></script>
       <script src="js/auth.js"></script>
       <script  src="js/blog.js"></script>
       <script src="js/event.js"></script>
       <script src="js/sermon.js"></script>
   
      
     </body>
   </html>    