<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
        <!-- Title -->
        <title>Pneuma Life City Church | <%= title %></title>
    
        <!-- Favicon -->
        <link rel="icon" href="img/new/logochurch.png">
    
        <!-- Core Stylesheet -->
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Amaranth|Raleway|Arapey|Comfortaa|Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/Open+Sanscss?family=Roboto|Source+Sans+Pro&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/style2.css">
        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163514247-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-163514247-1');
    </script>
    
    </head>
    

    <body>
        <header class="header-area" >

            <!-- ***** Top Header Area ***** -->
          
            <!-- ***** Top Header Area ***** -->
    
            <!-- ***** Navbar Area ***** -->
            <div class="crose-main-menu" >
                <div class="classy-nav-container breakpoint-off k" >
                    <div class="container kk"  >
                        <!-- Menu -->
                        <nav class="classy-navbar justify-content-between" id="croseNav">
    
                            <!-- Nav brand -->
                            <div class="hide_main" style="position:relative; left:-30px;top:-3px;">
                                    <a href="/" class="nav-brand" ><img src="img/new/logotrans.png" class="" alt=""></a>
                            </div>
                            <div class="hide_phone" style="position:relative; left:-130px;">
                                    <a href="/" class="nav-brand" ><img src="img/new/logotrans.png" class="" alt=""></a>
                            </div>
                            <!-- <a href="/" class="nav-brand" ><img src="img/new/logotrans.png" class="hide_phone" style="margin-left:-1000px" alt=""></a> -->
                         
    
                            <!-- Navbar Toggler -->
                            <div class="classy-navbar-toggler">
                                <span class="navbarToggler"><span></span><span></span><span></span></span>
                            </div>
    
                            <!-- Menu -->
                            <div class="classy-menu">
    
                                <!-- close btn -->
                                <div class="classycloseIcon">
                                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                                </div>
    
                                <!-- Nav Start -->
                               
    
    
                                  <div class="classynav hide_phone" style="background-color:white;margin-right:-100px; " >
                                    <ul>
                                        <!-- <li><a href="/" class="btn crose-btn header-btn" ">Home</a></li> -->
                                       
                                        <!-- <li class="dropdown  dropdown-toggle" style="font-weight:bold; cursor:pointer" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ABOUT
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="/about">about us</a>
                                                <a class="dropdown-item" href="aboutpastor">About pastor Dafe</a>
                                            </div>
                                        </li> -->
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/about" >about us</a></li>
                                       <li><a href="/events">Events</a></li>
                                      
                                        <!-- <li><a href="/events">About Pastor</a></li> -->
                                        <li><a href="/store">Store</a></li>
                                        <li><a href="/blog"  >Blog</a></li>
                                        <li><a href="/contact" class="btn crose-btn header-btn" style="background-color: #CA3730">contact us</a></li>
                                        <li><a href="/partnership" >partner</a></li>
                                    </ul>
    
                                    
                                    <!-- Donate Button -->
                                   
    
                                </div>
    
                                <div class="classynav " style="background-color:whitesmoke; " >
                                   <div class="hide_main">
                                        <ul>
                                                <!-- <li><a href="/" class="btn crose-btn header-btn" ">Home</a></li> -->
                                               
                                                <!-- <li class="dropdown  dropdown-toggle" style="font-weight:bold; cursor:pointer" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ABOUT
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <a class="dropdown-item" href="/about">about us</a>
                                                        <a class="dropdown-item" href="aboutpastor">About pastor Dafe</a>
                                                    </div>
                                                </li> -->
                                                <li><a href="/about">about us</a></li>
                                               <li><a href="/events">Events</a></li>
                                              
                                                <!-- <li><a href="/events">About Pastor</a></li> -->
                                                <li><a href="/store">Store</a></li>
                                                <li><a href="/blog">Blog</a></li>
                                                <li><a href="/contact">contact us</a></li>
                                                <li><a href="/partnership" >partner</a></li>
                                            </ul>
                                   </div>
    
    
                                    
                                    <!-- Donate Button -->
                                   
    
                                </div>
    
    
                                <!-- Nav End -->
                            </div>
                        </nav>
                    </div>
                </div>
    
                <!-- ***** Search Form Area ***** -->
                <div class="search-form-area" >
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-12">
                                <div class="searchForm">
                                    <form >
                                        <input type="search" name="search" id="search" placeholder="Enter keywords &amp; hit enter...">
                                        <button type="submit" class="d-none"></button>
                                    </form>
                                    <div class="close-icon" id="searchCloseIcon"><i class="fa fa-close" aria-hidden="true"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ***** Navbar Area ***** -->
        </header>
        <br><br>


        <div class="container">
            <h5 class="modal-title" id="exampleModalLabel" style="text-align:center">RECEIVED THE LIFE OF CHRIST?</h5>  
            <div class="row d-flex justify-content-center">
                <div class="col-sm-6 shadow" style="padding:5%;margin:5%">
                    <form action="/newlifeFeed" method="post">

                       
                       
                        <p style="font-size:13px;text-align:justify">
                            Hello and welcome to our family! We are so happy that you just got saved and received the life of Christ. You may be asking yourself, “What’s next?<br><br>
                            <b>1. Understand what Salvation means</b><br>
                            • We are in need of a Savior. (Romans 3:23)<br>
                            • Our sin separates us from God (Romans 6:23)<br>
                            • Jesus died for us to pay the penalty of death for our sins. (Romans 5:8)<br>
                            • God forgives and gives salvation to everyone who puts their faith in Him. (Romans 10:9-10)<br>
                            John 3:15-17 says, "...so that those who truly believe in him will not perish but be given eternal life. For this is how much God loved the world—he gave his one and only, unique Son as a gift. So now everyone who believes in him will never perish but experience everlasting life.
                            <br>“God did not send his Son into the world to judge and condemn the world, but to be its Savior and rescue it!<br><br>

                            <b>2. Find your church home </b><br>
                            We celebrate with heaven today that you have become a Christian. It doesn’t matter who you are, what you’ve done, or what background you’ve come from, Jesus makes it very clear that he loves you and wants you to be saved through Him.
                       <br>
                       We are so happy that you are a part of our Community. Your next step if you feel spiritually fed by this church would be to become a member of PNEUMA LIFE CITY CHURCH.
                        </p>

                        <div class="form-group">
                          <label for="exampleInputEmail1">Date</label>
                          <input type="date" name="date" class="form-control" required id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Date"  style="font-size:13px;color:grey" >
                          <small  class="form-text text-muted">We'll never share your information with anyone else.</small>
                        </div>

                        <div class="form-group">
                          <label for="exampleInputPassword1">Name</label>
                          <input type="text" name="fullname" class="form-control"  required style="font-size:13px;color:grey" id="exampleInputPassword1" placeholder="Name">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Gender</label>
                            <select class="form-control" name="gender" required style="font-size:13px;color:grey" >
                                <option value="">Gender</option>
                                <option value="male">Male</option>
                                <option value="female" >Female</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">BirthDate</label>
                            <input type="text" name="birthdate" class="form-control" required style="font-size:13px;color:grey" id="exampleInputPassword1" placeholder="BirthDate">
                        </div>
                       
                        <div class="form-group">
                            <label for="exampleInputPassword1">Phone</label>
                            <input type="text" name="phone" style="font-size:13px;color:grey" required class="form-control" id="exampleInputPassword1" placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Email</label>
                            <input type="email" name="email" style="font-size:13px;color:grey" required class="form-control" id="exampleInputPassword1" placeholder="email">
                        </div>
                       
                        <div class="form-group">
                            <label for="exampleInputPassword1"><b>Please Select which applies to you</b></label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio"  name="exampleRadios"  value="salvation" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                  Salvation 
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios"  value="rededication">
                                <label class="form-check-label" for="exampleRadios2">
                                  Rededication
                                </label>
                              </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1"><b>Where did you pray the salvation prayer with us? </b></label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadiosi" id="exampleRadios1" value="auditorium" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                    FAITHBREED AUDITORIUM
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadiosi" id="exampleRadios2" value="facebook">
                                <label class="form-check-label" for="exampleRadios2">
                                    FAITHBREED Facebook
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadiosi" id="exampleRadios2" value="youtube">
                                <label class="form-check-label" for="exampleRadios2">
                                 FAITHBREED GLOBAL YouTube
                                </label>
                              </div>
                        </div>

                        <p style="text-align:center;font-size:13px">
                            Every information received here remains confidential and is held in trust by PNEUMALIFE CITY CHURCH.
                        </p>

            

                    
                         
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>

                </div>
            </div>
        </div>

    

        <script src="js/jquery/jquery-2.2.4.min.js"></script>
        <!-- Popper js -->
        <script src="js/bootstrap/popper.min.js"></script>
        <!-- Bootstrap js -->
        <script src="js/bootstrap/bootstrap.min.js"></script>
        <!-- All Plugins js -->
        <script src="js/plugins/plugins.js"></script>
        <!-- Active js -->
        <script src="js/active.js"></script>
        <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-firestore.js"></script>
       <script src="js/auth.js"></script>
       
        <script src="js/contact.js"></script>
        <script>
        
        var button1 = document.getElementById('button1');
        var space1 = document.getElementById('space1');
        var linksminus = document.getElementById('linkminus')
        var linksplus = document.getElementById('linksplus');
        but(button1,space1,linkplus1,linkminus1);
    
        var button2 = document.getElementById('button2');
        var space2 = document.getElementById('space2');
        var linksminus2 = document.getElementById('linkminus2')
        var linksplus2 = document.getElementById('linksplus2');
        but(button2,space2,linkplus2,linkminus2);
    
        var button3 = document.getElementById('button3');
        var space3 = document.getElementById('space3');
        var linksminus3 = document.getElementById('linkminus3')
        var linksplus3 = document.getElementById('linksplus3');
        but(button3,space3,linkplus3,linkminus3);
    
        var button4 = document.getElementById('button4');
        var space4 = document.getElementById('space4');
        var linksminus4 = document.getElementById('linkminus4')
        var linksplus4 = document.getElementById('linksplus4');
        but(button4,space4,linkplus4,linkminus4);
    
        function but (parbut, parspace,linkminus,linkplus){
            parbut.addEventListener('click', ()=>{
                if(parspace.style.display == 'block'){
                    parspace.style.display='none';
                    parspace.style.WebkitTransition = "all 2s"
                    linkminus.style.display='block';
                    linkplus.style.display = 'none';
                }else{
                    parspace.style.display='block';
                    linkminus.style.display='none';
                    linkplus.style.display = 'block';
                   
                }
            
                // alert('hello');
            })
        }
        
        </script>

    </body>
</html>