
<html>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/dashboard.css">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css?family=Asap|Livvic&display=swap" rel="stylesheet">
    <body>
            <div class="full-height">
                <div class="major">
                    <div class="first shadow-sm p-3 mb-5 bg-white ">
                             <center><img src="/img/core-img/real.png" width="45%"><br><br>  </center> <hr>

                             <div class="float-left" style="margin-left:-37px;">
                              <ul style="list-style-type: none; ">
                                  <a href="/admin/posts"> <li style="padding-bottom:40px;"><ion-icon name="gift" style="margin-right: 5px;margin-bottom:-4px; font-size:19px; color:grey"></ion-icon>Dashboard</li></a>
                              <a href="/admin/adminSermon"> <li style="padding-bottom:40px;"><ion-icon name="gift" style="margin-right: 5px;margin-bottom:-4px; font-size:19px; color:grey"></ion-icon>Sermons</li></a>
                              <a href="/admin/adminBlog"><li style="padding-bottom:40px; "><ion-icon name="paper" style="margin-right: 5px;margin-bottom:-4px; font-size:19px; color:grey"></ion-icon>Blog Posts</li>                                    </a>
                              <a href="/admin/adminEvent"><li style="padding-bottom:40px;" ><ion-icon name="logo-ionic" style="margin-right: 5px;margin-bottom:-4px; font-size:19px; color:grey"></ion-icon>Events and Programmes</li>                                </a>
                              <small style="font-size:12px;color:grey">OTHERS</small><br><hr>
                              <a href="/admin/partnership"><li style="padding-bottom:40px;" ><ion-icon name="home" style="margin-right: 5px;margin-bottom:-4px; font-size:19px; color:grey"></ion-icon>Partnership</li></a>
                              <a href="/admin/subscribers"><li style="padding-bottom:40px;"><ion-icon name="gift" style="margin-right: 5px;margin-bottom:-4px; font-size:19px; color:grey"></ion-icon>Subscribers</li></a>
                              <a href="/admin/logout" class="btn btn-primary"><ion-icon name="power" style="margin-right: 5px;margin-bottom:-4px; font-size:19px; color:white"></ion-icon>Logout</a>
                              
                              
                          </ul>
                         </div>
                    </div>
                    <div class="second">
                        <span  style="color:silver;font-size:10px">OVERVIEW</span>
                        <div class="top">
                            <div class="dashboard">
                                    <h3 >Dashboard</h3>
                            </div>
                            <div class="createpost">
                                <!-- <button class=" btn btn-primary">Create Post</button> -->
                                <div class="dropdown">
                                    <a href="/admin/logout" class="btn btn-primary dropdown-toggle" type="button" data-toggle="">Logout
                                    <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                      <li><a href="#">HTML</a></li>
                                      <li><a href="#">CSS</a></li>
                                      <li><a href="#">JavaScript</a></li>
                                    </ul>
                                  </div>
                                
                            </div>
                        </div><br><br><hr>

                        <div class="row">
                            <div class="col-sm-3">
                                <div class="single shadow-sm p-3 mb-5 bg-white">
                                    <span>BLOG POST</span><br>
                                    <p style="font-weight:bold">40 POST UPDATED</p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                    <div class="single  shadow-sm p-3 mb-5 bg-white">
                                            <span>SERMON POST</span><br>
                                            <p style="font-weight:bold">40 POST UPDATED</p>
                                    </div>
                            </div>
                            <div class="col-sm-3">
                                    <div class="single shadow-sm p-3 mb-5 bg-white">
                                            <span>EVENTS AND PROGRAMMES</span><br>
                                            <p style="font-weight:bold">40 POST UPDATED</p>
                                    </div>
                            </div>
                            <div class="col-sm-3">
                                    <div class="single">
                                            <span>BLOG POST</span><br>
                                            <p style="font-weight:bold">40 POST UPDATED</p>
                                     </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">

                                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <center><h5 class="modal-title" id="exampleModalLongTitle" style="text-align:center">Event And Programmes</h5>
                                                  </center>
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="/event/eventPost" method="post" enctype="multipart/form-data"> 
                                                        
                                                        <div class="form-group">
                                                          <label for="exampleInputEmail1">Name of Programme</label>
                                                          <input type="text" class="form-control" name="eventName"  placeholder="Name of Programme">
                                                          
                                                        </div>

                                                        <div class="form-group">

                                                            <label for="exampleInputEmail1">Date of Programme</label>
                                                            <input type="text" class="form-control" name="eventDate"  placeholder="Date of programme">
                                                           
                                                        </div>
                                                          <div class="form-group">
                                                                <label for="exampleInputEmail1">Description of the programme</label>
                                                                <textarea type="text" class="form-control" name="eventContent" placeholder="Enter a short description abouat the programme"></textarea>
                                                               
                                                          </div>
                                                        <div class="form-group">
                                                          <label for="exampleInputPassword1">Image name</label>
                                                          <input type="file" accept="image/*" class="form-control" name="eventImage"  placeholder="image">
                                                        </div>
                                                 
                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                      </form>

                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                
                                                </div>
                                              </div>
                                            </div>
                                          </div>


                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                                    Create an event Update
                                  </button>
                            </div>

                            <div class="col-sm-3">
                                
                                    <div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h5 class="modal-title" id="exampleModalLongTitle">Blog Post</h5>
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form  action="/blog/blogPost"  method="post" enctype="multipart/form-data">
                                                        
                                                        <div class="form-group">
                                                          <label for="exampleInputEmail1">Title</label>
                                                          <input type="text" class="form-control" name='blogTitle' aria-describedby="emailHelp" placeholder="Title">
                                                          
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="exampleInputEmail1">Author</label>
                                                          <input type="text" class="form-control" name="blogAuthor" aria-describedby="emailHelp" placeholder="Written By">
                                                          
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="exampleInputEmail1">Date</label>
                                                          <input type="date" class="form-control" name="blogDate" aria-describedby="emailHelp" placeholder="Date">
                                                          
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Category</label>
                                                            <select name="blogCategory" class="browser-default custom-select">
                                                                <option selected> </option>
                                                                <option value="supernatural">Supernatural Culture</option>
                                                                <option value="leadership">Leadership</option>
                                                                <option value="growth">Growth</option>
                                                            </select>
  
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Content</label>
                                                            <textarea type="text" class="form-control" name="blogContent" aria-describedby="emailHelp" placeholder="Enter the content here"></textarea>
                                                            
                                                        </div>

                                                        <div class="form-group">
                                                          <label for="exampleInputEmail1">Image Attachment</label>
                                                          <input type="file"   class="form-control" name="blogImage" aria-describedby="emailHelp" placeholder="Image">
                                                          
                                                        </div>

                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                      </form>
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                  
                                                </div>
                                              </div>
                                            </div>
                                          </div>


                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong2">
                                    Create a Blog Upadte
                                  </button>
                                </div>
                                
                            <div class="col-sm-3">
                                
                                    <div class="modal fade" id="exampleModalLong3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h5 class="modal-title" id="exampleModalLongTitle">Sermons Update</h5>
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button> 
                                                </div>
                                                <div class="modal-body">
                                                    <form action="/sermon/sermonPost" method="post" enctype="multipart/form-data" >
                                                        
                                                        <div class="form-group">
                                                          <label for="exampleInputEmail1">Title of Sermon</label>
                                                          <input type="text" class="form-control" name="sermonTitle" aria-describedby="emailHelp" placeholder="Topic of Sermon" required>
                                                          
                                                        </div>

                                                        <div class="form-group">
                                                          <label for="exampleInputEmail1">Teacher</label>
                                                          <input type="text" class="form-control" name="sermonTeacher" aria-describedby="emailHelp" placeholder="Taught By..." required>
                                                          
                                                        </div>
                                                        
                                                        <div class="form-group">
                                                          <label for="exampleInputPassword1">Short description</label>
                                                          <textarea type="text" class="form-control" name="sermonContent" placeholder="Short description" required></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="exampleInputEmail1">Date</label>
                                                          <input type="date" class="form-control" name="sermonDate" aria-describedby="emailHelp" placeholder="Date" required >
                                                          
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="exampleInputEmail1">Sermon Price</label>
                                                          <input type="text" class="form-control" name="sermonPrice" aria-describedby="emailHelp" placeholder="Sermon Price " required>
                                                          
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="exampleInputEmail1">image</label>
                                                          <input type="file" name="sermonImage" accept="image/*"  class="form-control"  aria-describedby="emailHelp" required placeholder="Image">
                                                          
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="exampleInputEmail1">Audio attachment</label>
                                                          <input type="file" name="sermonAudio" accept="audio/*"  class="form-control"  aria-describedby="emailHelp" required placeholder="Audio">
                                                          
                                                        </div>
                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                      </form>
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                 
                                                </div>
                                              </div>
                                            </div>
                                          </div>


                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong3">
                                    Create a Sermon Post
                                </button>
                            </div>
                            <div class="col-sm-3">
                            
                              <div class="modal fade" id="exampleModalLong4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLongTitle">Sermons Update</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button> 
                                    </div>
                                    <div class="modal-body">
                                      <form  action="/subscribe/videoPost" method="post">
                                        <input type="text" name="videoUrl" class="inputt form-control" style="width:100%" required  /><br>
                                        <input type="text" name="title" class="inputt form-control" style="width:100%" required  /><br>
                                        <button type="submit" id="buttonnn" class="float-right buton" style="cursor: pointer"> Submit </button>
                                    </form>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                     
                                    </div>
                                  </div>
                                </div>
                              </div>
                     
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong4">
                                Create a Video Post
                            </button>
      
                              </div>
                          
                        </div>

                        <!-- <div class="row" style="margin-top:50px">
                            <div class="col-sm-4">
                                <a href="outputsubscribelist.html">View Subscription List</a>
                            </div>
                            <div class="col-sm-4">
                               <a href="outputpartnership.html">View Partnership List</a>
                            </div>
                            <div class="col-sm-3">
                                <a href="output/contact">View Contact us Feedback List</a>
                            </div>
                           
                        </div> -->
                        <br><br><br>
                    


                    

                    

                        
                        
                    </div>
                </div>
            </div>
        
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
    <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-firestore.js"></script>
    <script src="js/auth.js"></script>
    <script  src="js/blog.js"></script>
    <script src="js/event.js"></script>
    <script src="js/sermon.js"></script>

   
  </body>
</html>    