*{
  font-family: 'Livvic', sans-serif;
}
.inside{
  background-color: white;
  border-radius:10px;
  min-height:500px;
  width:100%;
  padding:10px;
  border:1px solid  #E3EBF6;
}
html, body {
    height: 100%;
    background-color:#F9FBFD;
  }
  
  .full-height {
    height: 100%;
  }
  .major{
       width:100%;
       
  }
  .sm-img{

    border-radius:10px;
    width:10%;
    float:left;
  }
  .sm-title{
    width:58%;
    float:left;
    padding:10px;
    text-align:left;
    margin-left:10px;
  }
  .sm-last{
    padding:10px;
    width:30%;
    float:right;
  }

  .first{
      width:20%;
      height:93%;
      background-color:white;
      float:left;
      border-right:1px solid #E3EBF6;
      border-radius:none;
  }
  .second{
      width:80%;
      overflow-y: scroll;
      height:94%;
      float:left;
      padding:20px;
     
  }
  .top{
    width:100%;
  }

  .createpost{
    float:right
  }
  .dashboard{
    float:left;
    
  }
  .single{
      padding:15px;
      background-color:white;
      border-radius:10px;
  }
  .single span{
      font-size:10px;
      color:silver;
      line-height:30px;
     
  }